<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>Edit Todo</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
          <textarea matInput placeholder="{{data.data.text}}" [(ngModel)]="updatedTitle" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [mat-dialog-close]='{"data": data.data, "upData": updatedTitle}'>Done</button>
      <button mat-button (click)="onNoClick()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>